.my-slider
    .my-slider__slides-container
        .my-slider__slides
            .my-slider__slide
    .my-slider__navegation.my-slider__navegation--side-small
        .my-slider__navegation-button.my-slider__navegation-button--back
        .my-slider__navegation-button.my-slider__navegation-button--next
