.animated-border:after {
  content: "";
  margin-top: 3px;
  display: block;
  transform: translateX(100%);
  width: 0%;
  height: 3px;
  background: var(--color-border-link-menu);
  border-radius: 3px;
  transition: width 0.5s, transform 0.5s;
}
.animated-border:hover:after {
  width: 100%;
  transform: translateX(0);
}

 .main .section-styles .styles-container .slider-styles .slider-styles__slides-container .slider-styles__slides .slider-styles__slide::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

 .main .section-styles .styles-container .styles-text .styles-tex__links, .main .section-styles .styles-container .styles-text, .main .section-styles .styles-container .slider-styles .slider-styles__slides-container .slider-styles__slides .slider-styles__slide::after, .main .section-buzos .section-buzos__text, .main .section-buzos, .main .section, .header .welcome .welcome__slider .my-slider__slide, .header .welcome .welcome__text {
  display: flex;
  justify-content: center;
  align-items: center;
}

 .main .section-styles .styles-container .styles-text .styles-tex__links, .main .section-styles .styles-container .styles-text, .main .section-buzos .section-buzos__text, .main .section, .header .welcome .welcome__text {
  display: flex;
  flex-direction: column;
}

.body {
  --color-white: #fefefe;
  --color-primary-900: #121212;
  --color-primary-800: #1a1a1a;
  --color-primary-700: #1a1a1a;
  --color-primary-600: #2c2c2c;
  --color-primary-500: #353535;
  --color-primary-400: #464646;
  --color-primary-300: #5d5d5d;
  --color-primary-200: #8b8b8b;
  --color-primary-100: #bababa;
  --color-secondary-100: #fdcabe;
  --color-secondary-200: #fcad9c;
  --color-secondary-300: #fc9179;
  --color-secondary-400: #fb7456;
  --color-secondary-500: #fa5833;
  --color-secondary-600: #f93b10;
  --color-secondary-700: #e02e06;
  --color-secondary-800: #bd2705;
  --color-secondary-900: #9a1f04;
  --color-tertiary-100: #252525;
  --color-tertiary-200: #222222;
  --color-tertiary-300: #ffa78f;
  --color-tertiary-400: #ff8b6b;
  --color-tertiary-500: #ff6f47;
  --color-tertiary-600: #1b1b1b;
  --color-tertiary-700: #313131;
  --color-tertiary-800: #222222;
  --color-tertiary-900: #2e2e2e;
  --color-btn-default: var(--color-primary-700);
  --color-btn-hover: var(--color-primary-900);
  --color-btn-pressed: var(--color-primary-900);
  --color-btn-disabled: var(--color-primary-200);
  --color-btn-outsection-default: var(--color-primary-900);
  --color-btn-outsection-hover: var(--color-primary-100);
  --color-btn-outsection-pressed: var(--color-primary-900);
  --color-btn-outsection-disabled: var(--color-primary-400);
  --color-text: var(--color-primary-900);
  --color-text-white: #fefefe;
  --color-tittle: var(--color-primary-700);
  --color-tittle-white: var(--color-white);
  --color-background-primary: #fefefe;
  --color-background-secondary: #f9f9f9;
  --color-icons-primary: var(--color-primary-500);
  --color-footer: var(--color-primary-900);
  --scrollbar: var(--color-secondary-500);
  --color-user-select: var(--color-secondary-100);
  --color-border-link-menu: var(--color-primary-900);
  --color-scroll: var(--color-primary-300);
}

.mybtn {
  min-width: -moz-max-content;
  min-width: max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  font-family: "button", arial;
  font-weight: 600;
  background-color: var(--color-btn-default);
  font-size: 16px;
  display: insection-block;
  padding: 10px 20px;
  color: var(--color-white);
  text-decoration: none;
  text-align: center;
  border-radius: 2px;
  outsection: none;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.mybtn:hover {
  background-color: var(--color-btn-hover);
  transform: scale(1.02);
}
.mybtn:active {
  transform: scale(1);
  background-color: var(--color-btn-pressed);
}

.mybtn--white {
  background-color: var(--color-white);
  color: var(--color-text);
}
.mybtn--white:hover {
  background-color: var(--color-white);
  transform: scale(1.02);
}
.mybtn--white:active {
  transform: scale(1);
  background-color: var(--color-white);
}

.mybtn--outsection {
  background-color: transparent;
  color: var(--color-btn-outsection-default);
  border: 1px solid var(--color-btn-outsection-default);
}
.mybtn--outsection:hover {
  background: var(--color-btn-outsection-hover);
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(./MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
  src: url(./MaterialIcons-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "p";
  font-display: swap;
  src: local("Montserrat-VariableFont_wght"), url(./Montserrat-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "p-semibold";
  font-display: swap;
  font-weight: 600;
  src: local("Montserrat-VariableFont_wght"), url(./Montserrat-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "tittle";
  font-display: swap;
  font-style: normal;
  src: local("Montserrat-Italic-VariableFont_wght"), url(./Montserrat-Italic-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: Arial, Helvetica, sans-serif;
  font-family: "button";
  font-display: swap;
  src: local("Montserrat-VariableFont_wght"), url(./Montserrat-VariableFont_wght.ttf) format("truetype");
}
h1,
h2,
h3 {
  font-family: "tittle";
  section-height: 1;
  font-weight: 900;
  color: var(--color-tittle);
}

.h1 {
  font-size: 32px;
  text-align: center;
}
@media (min-height: 400px) and (min-width: 768px) {
  .h1 {
    font-size: 48px;
  }
}

.h2, .main .section-styles .styles-container .slider-styles .slider-styles__slides-container .slider-styles__slides .slider-styles__slide::after {
  font-size: 28px;
}
@media (min-height: 400px) and (min-width: 768px) {
  .h2, .main .section-styles .styles-container .slider-styles .slider-styles__slides-container .slider-styles__slides .slider-styles__slide::after {
    font-size: 40px;
  }
}

.h3 {
  font-size: 24px;
}
@media (min-height: 400px) and (min-width: 768px) {
  .h3 {
    font-size: 32px;
  }
}

.p {
  font-size: inherit;
  text-align: left;
}

:root {
  --space-1: 48px;
  --space-2: 40px;
  --space-3: 32px;
  --space-4: 28px;
  --space-5: 24px;
  --space-6: 16px;
  --space-7: 8px;
}
@media screen and (min-width: 768px) {
  :root {
    --space-1: 68px;
    --space-2: 56px;
    --space-3: 44px;
    --space-4: 40px;
    --space-5: 36px;
    --space-6: 22px;
    --space-7: 12px;
  }
}

 .main .section-styles .styles-container .slider-styles .slider-styles__slides-container .slider-styles__slides .slider-styles__slide, .main .section-buzos .slider-exclusive, .main .section-buzos .section-buzos__text, .main .section .slider-galery-top .my-slider__slides-container .my-slider__slides .slider-galery-top__product {
  border-radius: 2px;
  overflow: hidden;
}

.boton-whatsapp {
  display: flex;
  align-items: center;
  gap: 8px;
}
.boton-whatsapp svg {
  height: 24px;
}

.header {
  background-color: #e7e7e7;
  display: flex;
  flex-direction: column;
}
.header .welcome {
  display: flex;
  height: 440px;
}
.header .welcome .welcome__text {
  gap: 2rem;
  width: 0;
  flex: 1.5;
}
.header .welcome .welcome__slider {
  padding-top: 24px;
  flex: 1;
  display: flex;
}
.header .welcome .welcome__slider .my-slider__slide {
  padding-top: 14px;
  padding-bottom: 16px;
}
.header .welcome .welcome__slider .my-slider__slide img {
  transition: transform 0.3s ease;
}
.header .welcome .welcome__slider .my-slider__slide img:hover {
  transform: scale(1.03);
}

.main .section {
  width: 100%;
  background-color: var(--color-primary-700);
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}
.main .section h2 {
  color: var(--color-text-white);
}
.main .section .section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.main .section .section__header .section__text {
  color: var(--color-text-white);
}
.main .section .slider-galery-top {
  --column: 5;
  --row: 1;
  --gap: 4px;
}
.main .section .slider-galery-top .my-slider__slides-container .my-slider__slides .slider-galery-top__product {
  position: relative;
  section-height: 0;
}
.main .section .slider-galery-top .my-slider__slides-container .my-slider__slides .slider-galery-top__product img {
  max-width: 100%;
  transition: transform 0.3s;
  -o-object-fit: contain;
     object-fit: contain;
}
.main .section .slider-galery-top .my-slider__slides-container .my-slider__slides .slider-galery-top__product .slider-galery-top__container-button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transform: translateY(100%);
  transition: transform 0.3s ease, opacity 0.5s;
}
.main .section .slider-galery-top .my-slider__slides-container .my-slider__slides .slider-galery-top__product .slider-galery-top__container-button a {
  margin-left: auto;
  margin-right: 8px;
}
.main .section .slider-galery-top .my-slider__slides-container .my-slider__slides .slider-galery-top__product:hover img {
  transform: scale(1.05);
}
.main .section .slider-galery-top .my-slider__slides-container .my-slider__slides .slider-galery-top__product:hover .slider-galery-top__container-button {
  transform: translateY(-8px);
}
.main .section .slider-galery-top .my-slider__slides-container .my-slider__slides:active .slider-galery-top__container-button {
  opacity: 0;
}
.main .section-buzos {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  border-radius: 2px;
  overflow: hidden;
  align-items: stretch;
}
.main .section-buzos .section-buzos__text {
  gap: 1rem;
  padding: 2rem;
  width: 40%;
  background-color: rgba(211, 241, 241, 0.938);
  text-align: center;
}
.main .section-buzos .section-buzos__text p {
  font-size: 20px;
  section-height: 1.3;
}
.main .section-buzos .slider-exclusive {
  width: 60%;
  section-height: 0;
}
.main .section-buzos .slider-exclusive img {
  max-width: 100%;
}
.main .section-styles {
  padding: 2rem 0;
  width: 100%;
  background-color: var(--color-primary-400);
}
.main .section-styles .styles-container {
  display: flex;
}
.main .section-styles .styles-container .slider-styles {
  flex: 3;
  --column: 2.99;
  --row: 1;
  --gap: 8px;
}
.main .section-styles .styles-container .slider-styles .slider-styles__slides-container .slider-styles__slides .slider-styles__slide {
  overflow: hidden;
  position: relative;
}
.main .section-styles .styles-container .slider-styles .slider-styles__slides-container .slider-styles__slides .slider-styles__slide:hover::after {
  opacity: 1;
}
.main .section-styles .styles-container .slider-styles .slider-styles__slides-container .slider-styles__slides .slider-styles__slide::after {
  content: attr(data-style);
  color: var(--color-text-white);
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s;
}
.main .section-styles .styles-container .slider-styles .slider-styles__slides-container .slider-styles__slides .slider-styles__slide img {
  list-style: none;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  transition: transform 0.3s;
}
.main .section-styles .styles-container .slider-styles .slider-styles__slides-container .slider-styles__slides .slider-styles__slide img:hover {
  transform: scale(1.05);
}
.main .section-styles .styles-container .slider-styles .slider-styles__slides-container .my-slider__navegation .my-slider__navegation-button--next {
  right: 0;
}
.main .section-styles .styles-container .styles-text {
  flex: 1;
  max-width: 25%;
  padding-left: 3rem;
  align-items: start;
  gap: 2rem;
}
.main .section-styles .styles-container .styles-text h2 {
  color: var(--color-text-white);
}
.main .section-styles .styles-container .styles-text .styles-tex__links {
  align-items: start;
}
.main .section-styles .styles-container .styles-text .styles-tex__links a {
  color: var(--color-text-white);
  line-height: 1.5;
  font-size: 18px;
}
.main .section-styles .styles-container .styles-text .styles-tex__links a:hover {
  text-decoration: underline;
}