extends ./templates/template.pug
block head
    link(rel="stylesheet" type="text/css" href="./index.css")
        
block header

block main
    .container
        br
        h1.h1 Hay alguien esperandote
        br
        p.p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste facilis impedit laboriosam sunt consequuntur hic ducimus, mollitia alias repellendus dolores adipisci ullam! Iste ipsum sequi consectetur ipsa quaerat ex corporis.
        div(style="display: flex; gap: 1rem; margin: 2rem 0")
            a.mybtn Boton
            a.mybtn.mybtn--outsection Boton

        div
            h2.h2 Colores