@import "../scss omnibus/bases/breakpoints";
@import "../scss omnibus/bases/extends";
@import "../scss omnibus/bases/style-guide";

.header {
  // background-color: antiquewhite;
  background-color: #e7e7e7;
  // height: calc(100vh - var(--navbar-header-height));
  display: flex;
  flex-direction: column;
  .welcome {
    display: flex;
    height: 440px;
    .welcome__text {
      @extend .flex-center, .flex-column;
      gap: 2rem;
      width: 0;
      flex: 1.5;
    }
    .welcome__slider {
      padding-top: 24px;
      flex: 1;
      display: flex;
      .my-slider__slide{
        @extend .flex-center;
        padding-top: 14px;
        padding-bottom: 16px;
        img{
          transition: transform .3s ease;
          &:hover{
            transform: scale(1.03)
          }
        }
      }
    }
  }
}
.main {
  .section {
    @extend .flex-center, .flex-column;
    width: 100%;
    background-color: var(--color-primary-700);
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    h2 {
      color: var(--color-text-white);
    }
    .section__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 2rem;
      .section__text {
        color: var(--color-text-white);
      }
    }
    .slider-galery-top {
      --column: 5;
      --row: 1;
      --gap: 4px;
      .my-slider__slides-container {
        .my-slider__slides {
          .slider-galery-top__product {
            position: relative;
            @extend .border-radius;
            section-height: 0;
            img {
              max-width: 100%;
              transition: transform 0.3s;
              object-fit: contain;
            }
            .slider-galery-top__container-button {
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              opacity: 1;
              transform: translateY(100%);
              transition: transform .3s ease, opacity .5s;
              a{
                margin-left: auto;
                margin-right: 8px;
              }
            }
            &:hover {
              img {
                transform: scale(1.05);
              }
              .slider-galery-top__container-button {
                transform: translateY(-8px);
              }
            }
            
          }
          &:active{
            .slider-galery-top__container-button{
              opacity: 0;
            }
          }
        }
      }
    }
  }
  .section--dama {
    display: none;
    h2,
    .section__text p {
      color: var(--color-text);
    }
    padding-top: 1rem;
    background-color: antiquewhite;
  }
  .section-buzos {
    @extend .flex-center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    border-radius: 2px;
    overflow: hidden;
    align-items: stretch;
    .section-buzos__text {
      @extend .flex-center, .flex-column, .border-radius;
      gap: 1rem;
      padding: 2rem;
      width: 40%;
      background-color: rgba(211, 241, 241, 0.938);
      text-align: center;
      p {
        font-size: 20px;
        section-height: 1.3;
      }
    }
    .slider-exclusive {
      @extend .border-radius;
      width: 60%;
      section-height: 0;
      img {
        max-width: 100%;
      }
    }
  }
  .section-styles {
    padding: 2rem 0;
    width: 100%;
    background-color: var(--color-primary-400);
    .styles-container {
      display: flex;
      .slider-styles{
        flex: 3;
        --column: 2.99;
        --row: 1;
        --gap: 8px;      
        .slider-styles__slides-container{
          .slider-styles__slides{
            .slider-styles__slide{
              overflow: hidden;

              position: relative;
              &:hover{
                &::after{
                  opacity: 1;
                }
              } 

              &::after{
                content: attr(data-style);
                color: var(--color-text-white);
                @extend .position-absolute, .flex-center, .h2;
                background-color: rgba(0, 0, 0, 0.6);
                opacity: 0;
                transition: opacity .3s;
              }
              // border: 1px solid red;
              @extend .border-radius;
              img{
                list-style: none;
                object-fit: cover;
                height: 100%;
                transition: transform .3s;
                &:hover{
                  transform: scale(1.05);
                }
              }
            }
          }
          .my-slider__navegation{
            .my-slider__navegation-button--next{
              right: 0
            }
          }
        }
      }
      .styles-text {
        flex: 1;
        max-width: 25%;
        padding-left: 3rem;
        @extend .flex-center, .flex-column;
        align-items: start;
        gap: 2rem;
        h2 {
          color: var(--color-text-white);
        }
        .styles-tex__links{
          @extend .flex-center, .flex-column;
          align-items: start;
          a{
            color: var(--color-text-white);
            line-height: 1.5;
            font-size: 18px;
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
