.my-slider {
	--column: 1;
	--row: 1;
	--gap: 0px;
	--color-button-slide-backgroud: rgba(255, 255, 255, 0.5);
	--color-button-slide-text: black;
	position: relative;
	display: grid;
	height: 100%;
	grid-template-rows: 1fr min-content;
	max-width: 100%;
	overflow: hidden;

	.my-slider__slides-container {
		height: 100%;
		cursor: grab;



		.my-slider__slides {
			height: 100%;
			max-height: 100%;
			display: grid;
			gap: var(--gap);
			grid-auto-columns: calc(100% / var(--column) - var(--gap));
			grid-template-rows: repeat(var(--row), auto);
			grid-auto-flow: column;
			transform: translateX(0);
			transition: transform 0.3s ease-out;

			.my-slider__slide {
				overflow: hidden;
				height: 100%;
				width: 100%;
				user-select: none;
				line-height: 0;
				
				img{
					max-width: 100%;
					max-height: 100%;
				}
			}
		}
	}

	.my-slider__navegation {
		height: min-content;

		.my-slider__navegation-button--back {
			&::after {
				content: "\e5e0";
			}
		}

		.my-slider__navegation-button--next {
			&::after {
				content: "\e5e1";
			}
		}
	}

	.my-slider__navegation--down {
		background-color: rebeccapurple;
		@extend .flex-center;
		gap: 1rem;
		padding: 0.5rem 0;

		.my-slider__navegation-button {
			font-family: "Material Icons";
			cursor: pointer;
			height: 48px;
			width: 48px;
			border-radius: 50%;
			background-color: var(--color-button-slide-backgroud);
			box-shadow: 0 0 10px rgba(17, 17, 17, 0.25);
			transition: transform 0.3s ease;

			&:hover {
				transform: scale(1.07);

				&::after {
					color: var(--color-btn-outsection-default);
				}
			}

			&:active {
				transform: scale(1);
			}

			&::after {
				font-family: "Material Icons";
				height: 100%;
				width: 100%;
				@extend .flex-center;
				color: var(--color-button-slide-text);
				font-size: 32px;
			}
		}

		.my-slider__navegation-button--back {
			&::after {
				transform: translateX(4px);
			}
		}
	}

	.my-slider__navegation--side-small {
		@extend .flex-center;

		.my-slider__navegation-button {
			position: absolute;
			bottom:  calc(50% - 24px);
			font-family: "Material Icons";
			cursor: pointer;
			height: 48px;
			width: 48px;
			border-radius: 50%;
			background-color: var(--color-button-slide-backgroud);
			box-shadow: 0 0 10px rgba(17, 17, 17, 0.25);
			transition: transform 0.3s ease;
			&:hover {
				transform: scale(1.07);

				&::after {
					color: var(--color-btn-outsection-default);
				}
			}

			&:active {
				transform: scale(1);
			}

			&::after {
				font-family: "Material Icons";
				height: 100%;
				width: 100%;
				@extend .flex-center;
				color: var(--color-button-slide-text);
				font-size: 32px;
			}
		}
		.my-slider__navegation-button--next{
			right: 10px;
		}
		.my-slider__navegation-button--back {
			left: 10px;
			&::after {
				transform: translateX(6px);
			}
		}
		.my-slider__navegation-button--next {
			&::after{
				transform: translateX(2px);
			}

		}
	}

	.my-slider__navegation--side {
		.my-slider__navegation-button {
			position: absolute;
			top: 0;
			bottom: 0;

			&::after {
				background-color: #e337029d;
				font-family: "material-icons";
				transition: transform 0.3s ease;
				@extend .flex-center;
				height: 100%;
				color: #fff;
				font-size: 40px;
			}

			&::before {
				content: " ";
				opacity: 0;
				@extend .position-absolute;
				transition: opacity 0.3s ease;
				background-color: #b62c0269;
			}

			&:hover {
				&::before {
					opacity: 1;
				}

				&::after {
					transform: scale(1.1);
				}
			}

			&:active {
				&::after {
					transform: scale(1.1);
				}
			}
		}

		.my-slider__navegation-button--back {
			left: 0;
		}

		.my-slider__navegation-button--next {
			right: 0;
		}
	}

	.my-slider__navegation-button--opacity-none {
		opacity: 0;
		cursor: default;

		&::after,
		&::before {
			pointer-events: none;
		}
	}
}